<footer class="foot_sec">
    <div class="foot_top">
        <h2 class="ft">Subscribe to our job Seeker Mailing List</h2>
    <br>
    <button class="btnm">Enter Your Email Address<a href="mailto:someone@example.com? Subject=Enquiry" class="support_link" target="_blank"> <i class="fas fa-envelope"  ></i></a></button>
      
    </div>
    <div class="foot_btm">
        <button class="btnm2"><a href="mailto:someone@example.com? Subject=Enquiry" class="support_link2" target="_blank"> <i class="fas fa-envelope"  ></i></a></button>
      <h3 class="ftr">Copyright @2014 Two Consulting<span>Terms & Policies</span></h3>
      
    </div>
  </footer>
